@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.App {
  font-family: 'Crete Round';
}

.slide-container {
  background-color: #5CDB95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.slide-container > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.table-container {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #5CDB95;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 100vh;
  width: 100%;
}

.navCustom {
  background-color: #5CDB95;
  color: white;
}

.carousel {
  margin-top: 
}
